body {
    padding: 0;
    margin: 0;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-image: url(Images/background.jpg);
}

.mainContainer {
    font-family: 'Sprite Graffiti', sans-serif;
    display: flex;
    height: 70%;
    width: 60%;
    flex-wrap: wrap;
}

.left-side {
    flex: 0 0 40%;
    display: flex;
    overflow: hidden;
    justify-content: center;
    align-items: center;
    position: relative;
    background-color: black;
    border-radius: 15px 0 0 15px;
}

.left-side img {
    max-width: 180%;
    height: 140%;
    position: absolute;
    transform: translate(20px, 20px);
}

.credit {
    display: flex;
    bottom: 0;
    color: rgb(232, 187, 98);
    position: absolute;
}

.right-side {
    flex: 1;
    display: flex;
    background-color: rgb(49, 47, 47);
    border-radius: 0 15px 15px 0;
    flex-direction: column;
}

.hero {
    display: flex;
    flex-direction: column;
    color: rgb(232, 187, 98);
}

h1 {
    display: flex;
    margin-left: 15px;
    font-size: 48px;
}

.hero1,
.hero2 {
    display: flex;
    font-size: 38px;
    margin-left: 15px;
    margin-right: 10px;
}

.hero1 {
    margin-top: 10px;
    margin-bottom: 25px;
}

.hero2 {
    margin-bottom: 13px;
}

.form-container {
    color: rgb(232, 187, 98);
    box-shadow: 0px 1px 5px rgba(129, 128, 128, 0.5);
    padding-bottom: 20px;
}

form {
    display: flex;
    flex-direction: column;
    font-size: 23px;
}

.form-group {
    display: flex;
    margin-bottom: 15px;
    margin-left: 15px;
    gap: 50px;
}

.input-group {
    display: flex;
    flex-direction: column;
    width: 30%;
}

button {
    font-family: 'Sprite Graffiti', sans-serif;
    width: 20%;
    margin-left: 15px;
    color: black;
    border: none;
    background-color: rgb(232, 187, 98);
    font-size: 22px;
    padding: 5px 0 10px 0;
    border-radius: 15px;
    margin-top: 25px;
    margin-bottom: 2px;
    cursor: pointer;
}

button:hover {
    background-color: rgb(194, 165, 102);
}

.login  {
    margin-left: 15px;
    margin-top: 13px;
}

a {
    color: inherit;
}

a:hover {
    color: white;
}

input {
    font-family: 'Times New Roman', Times, serif;
    border: 2px solid #CCC;
    border-radius: 8px;
    padding: 2px;
    font-size: 18px;
}

input:focus {
    border-color: rgb(232, 187, 98);
    outline: none;
}

input:hover {
    border: 2px solid rgb(40, 39, 39);
    outline: none;
    background-color: rgb(230, 218, 212);
}

input:focus:hover {
    background-color: white;
    border-color: rgb(232, 187, 98);
}

.footer {
    display: flex;
    flex-direction: column;
    color: rgb(232, 187, 98);
    font-size: 18px;
}

input + span {
    position: relative;
}

#pass:invalid,
#confirmPass:invalid {
    border: 2px solid red;
}

#pass:required + .passCheck::after {
    font-size: 1.1rem;
    position: absolute;
    content: "* required";
}

#confirmPass:required + .confirmPassCheck::after {
    font-size: 1.1rem;
    position: absolute;
    content: "* Password must match";
}

#pass:valid + .passCheck::after,
#confirmPass:valid + .confirmPassCheck::after {
    content: "";
}
